<div class="row">
	<div class="col-sm-12">
		<h2>People</h2>
		<hr />
		<% if @people.empty? %>
			<p>Currently there are no people</p>
		<% else %>
			<% @people.in_groups_of(4) do |group| %>
				<div class="row">
					<% group.compact.each do |person| %>
						<div class="col-sm-3 text-center image-box">
							<div>
								<%= link_to person_path(person), {} do %> 
									<% if person.photo.present? %>
										<img u="pub-image" src="<%= person.photo.thumb.url %>" alt=""/>
									<% else %>
										<i class="fa fa-user fa-big" u="pub-image"></i>
									<% end %>
								<% end %>
								<h4><%= link_to person.name, person_path(person) %></h4>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>