<div class="row">
	<div class="col-sm-12">
		<h2>Publications</h2>
		<hr />
		<% if @publications.empty? %>
			<p>Currently there are no publications</p>
		<% else %>
			<% @publications.in_groups_of(4) do |group| %>
				<div class="row">
					<% group.compact.each do |publication| %>
						<div class="col-sm-3 text-center image-box">
							<div>
								<%= link_to publication_path(publication), {} do %> 
									<% if publication.pub_image.present? %>
										<img u="pub-image" src="<%= publication.pub_image.thumb.url %>" />
									<% else %>
										<i class="fa fa-book fa-big" u="pub-image"></i>
									<% end %>
								<% end %>
								<h4><%= link_to publication.name, publication_path(publication) %></h4>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>