body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #efefef;
}

img {
	width: 100%;
}

a {
	color: #ff6666;
}

h4 { margin-top: 20px; }

#sessions form, #registrations form, #passwords form {
	border: 1px solid rgba(0,0,0,0.1);
	padding: 15px 35px 35px;
	background: #fff;
	input[type=submit] {
		margin-bottom: 20px;
	}
}

.devise-links {
	margin: 15px;
	text-align: center;
	a { 
		line-height: 2em;
	}
}

.btn-primary {
	background-color: #ff6666;
	border: 1px solid red;
}

hr {
	border-top: 1px solid rgb(204, 204, 204);
}

.image-box div {
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
	margin: 10px 0;
	background-color: #fff;
	border-radius: 4px;
	[u=pub-image] {
		display: block;
		width: 100%;
	}
	a:hover {
		text-decoration: none;
	}
}

.fa-big {
	font-size: 10em;
}

@media (min-width: 768px) {
	body { padding-top: 120px; }
	
	.navbar-inverse {
		background-color: initial;
		border-color: initial;
		.navbar-inner {
			border-bottom: #ff6666 solid 10px;
			min-height: 110px;
			background-color: #222;
			opacity: 0.9;
			box-shadow: none;
		}
		.nav {
			margin-top: 30px;
			font-size: 16px;
		}
		.navbar-brand {
			margin-top: 30px;
			text-transform: uppercase;
		}
	}
}